.login{

  color: #9000ff;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 30px;
  padding: 14px 36px;
}


.signup{

  color: white;
  font-size: 16px;
  font-weight: 500;
  background-color: #9000ff;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 30px;
  padding: 10px 26px;

}

   /** Explore Button */

   .explore_button{
      z-index: 1;
      position: relative;
      padding: 14px 36px;
      margin-bottom: 30px;
      text-align: center;
      text-transform: uppercase;
      color: #ff6a00;
      font-size: 16px;
      font-weight: bold;
      background-color: transparent;
      outline: none;
      border: none;
      transition: all 0.5s;
      cursor: pointer;
      border-radius: 30px;
      outline: 2px #ff6a00 solid;
   }

    .explore_button:hover {
        color: #FFFFFF;
        border-radius: 30px;
        background-color: #ff6a00;
        outline: 2px white solid;
    }

    /* * Link Button */

    .nav-text{
        text-decoration: none;
        font-size: 15px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
