*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
    font-family:'Trebuchet MS';
}


 .maker-canvas-container {
     height: auto !important;
     width: auto !important;
     outline: 0;
 }